<!--
	
	Appointments Template

-->

{% extends "dashboard.html" %}

{% block content %}
	
<div class="row">

	<div class="col-lg-12">
		<h4>All Appointments for {{ logged_user.full_name }}</h4>
	</div><!--end .col -->

	<div class="col-md-8">

		<article class="margin-bottom-xxl">
			<p>
				Below is information for your appointments.
			</p>
		</article>

	</div><!--end .col -->

	<div class="col-lg-12">

		<div class="card">

			<div class="card-body no-padding">

				<div class="table-responsive no-margin">

					<table id="datatable1" class="table table-striped no-margin table-hover">

						<!-- Table head -->
						<thead>
							<tr>
								<th>#</th>
								<th>Patient Name</th>
								<th>Date</th>
								<th>Time</th>
								<th>Doctor</th>
							</tr>
						</thead>

						<!-- Table data -->
						<tbody>

							{% for appt in data %}

								<tr>

									<td>{{ appt.appt_id }}</td>
									<td>{{ appt.appts.first_name }} {{ appt.appts.last_name }}</td>
									<td>{{ appt.date|dateformat }}</td>
									<td>{{ appt.time|timeformat }}</td>
									<td>{{ appt.doc.first_name }} {{ appt.doc.last_name }}</td>

								</tr>

							{% endfor %}
							
						</tbody>
						
					</table>

				</div><!--end .table-responsive -->

			</div><!--end .card-body -->

		</div><!--end .card -->

	</div><!--end .col -->

</div><!--end .row -->

{% endblock %}