<!--
	
	Dashboard template page

-->

{% include "shared/header.html" %}

{% include "dashboard-header.html" %}

<!-- BEGIN BASE-->
<div id="base">

	<!-- BEGIN CONTENT-->
	<div id="content">
	
		<section>

			<!-- SECTION BODY -->
			<div class="section-body contain-lg">

				<!-- BEGIN INTRO -->
				<div class="row">

					<div class="col-lg-8">
						<h1 class="text-primary">{{ page_title }}</h1>
					</div><!--end .col -->

					<div class="col-lg-4 text-right">
						{% include "nav-actions.html" %}
					</div><!--end .col -->

				</div><!--end .row -->
				<!-- END INTRO -->

				{% block content %}
				{% endblock %}


			</div>
			<!-- END SECTION BODY -->

		</section>

	</div><!--end #content-->
	<!-- END CONTENT -->

{% include "nav-main.html" %}

</div><!--end #base-->
<!-- END BASE -->

{% include "shared/footer.html" %}