<!--

	Main Navigation

-->

<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">

	<div class="menubar-fixed-panel">
		<div>
			<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="expanded">
			<a href="../../html/dashboards/dashboard.html">
				<span class="text-lg text-bold text-primary ">MEDGuard</span>
			</a>
		</div>
	</div>

	<div class="menubar-scroll-panel">

		<!-- BEGIN MAIN MENU -->
		<ul id="main-menu" class="gui-controls">

			<!-- Iterate through each received link -->
			{% for link in main_nav %}
				<li>
					<a href="{{ link['url'] }}">
						<div class="gui-icon"><i class="md md-{{ link['icon'] }}"></i></div>
						<span class="title">{{ link['name'] }}</span>
					</a>
				</li>
			{% endfor %}

	
			<!-- BEGIN EXAMPLE, includes nested sub menu
			<li class="gui-folder">
				<a>
					<div class="gui-icon"><i class="md md-email"></i></div>
					<span class="title">Email</span>
				</a>
				<!--start submenu 
				<ul>
					<li><a href="../../html/mail/inbox.html" ><span class="title">Inbox</span></a></li>
					<li><a href="../../html/mail/compose.html" ><span class="title">Compose</span></a></li>
					<li><a href="../../html/mail/reply.html" ><span class="title">Reply</span></a></li>
					<li><a href="../../html/mail/message.html" ><span class="title">View message</span></a></li>
				</ul> <!--end /submenu
			</li> <!--end /menu-li
			<!-- END EXAMPLE -->

		</ul><!--end .main-menu -->
		<!-- END MAIN MENU -->

		<div class="menubar-foot-panel">
			<small class="no-linebreak hidden-folded">
				<span class="opacity-75">Copyright &copy; 2017</span> <strong>MACMed Software</strong>
			</small>
		</div>

	</div><!--end .menubar-scroll-panel-->

</div><!--end #menubar-->
<!-- END MENUBAR -->