<!--
	
	Patients Template

-->

{% extends "dashboard.html" %}

{% block content %}

<!-- ALL PATIENTS -->
<div class="row">

	<div class="col-lg-12">
		<h4>Patient Information</h4>
	</div><!--end .col -->

	<div class="col-md-8">

		<article class="margin-bottom-xxl">
			<p>
				Below is information for {{ data.first_name }} {{ data.last_name }} currently in the MACGguard database.
			</p>
		</article>

	</div><!--end .col -->

	<div class="col-lg-12">
		<div class="card">
			<div class="card-body no-padding">
				<div class="table-responsive no-margin">
					<table class="table table-striped no-margin">

						<!-- Table head -->
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Date of Birth</th>
								<th>Sex</th>
								<th>Email</th>
								<th>Phone</th>
							</tr>
						</thead>

						<!-- Table data -->
						<tbody>

								<tr>
									<td>{{ data.user_id }}</td>
									<td>{{ data.first_name }}</td>
									<td>{{ data.last_name }}</td>
									<td>{{ data.dob }}</td>
									<td>{{ data.sex }}</td>
									<td>{{ data.email }}</td>
									<td>{{ data.phone_num }}</td>
								</tr>
							
						</tbody>
					</table>
				</div><!--end .table-responsive -->
			</div><!--end .card-body -->
		</div><!--end .card -->
	</div><!--end .col -->
</div><!--end .row -->
<!-- END RESPONSIVE TABLE 1 -->


<!-- APPOINTMENT INFO -->
<div class="row">

	<div class="col-lg-12">
		<h4>Appointments</h4>
	</div><!--end .col -->

	<div class="col-md-8">

		<article class="margin-bottom-xxl">
			<p>
				Below are all appointments for {{ data.first_name }} {{ data.last_name }} currently in the MACGguard database.
			</p>
		</article>

	</div><!--end .col -->

	<div class="col-lg-12">
		<div class="card">
			<div class="card-body no-padding">
				<div class="table-responsive no-margin">
					<table class="table table-striped no-margin">

						<!-- Table head -->
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Time</th>
								<th>Doctor</th>
							</tr>
						</thead>

						<!-- Table data -->
						<tbody>

							{% for appt in data.appts %}
								<tr>

									<td>{{ appt.appt_id }}</td>
									<td>{{ appt.date }}</td>
									<td>{{ appt.time|timeformat }}</td>
									<td><a href="{{ url_for('view_single_patient', user_id=appt.doc.user_id ) }}">{{ appt.doc.first_name }} {{ appt.doc.last_name }}</a></td> 
								
								</tr>
							{% endfor %}

						</tbody> 
					</table>
				</div><!--end .table-responsive -->
			</div><!--end .card-body -->
		</div><!--end .card -->
	</div><!--end .col -->
</div><!--end .row -->
<!-- END RESPONSIVE TABLE 1 -->

{% endblock %}