<!DOCTYPE html>
<html>
	<head>
		<title>MEDGuard</title>
		
		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="MACGuard: Optimal Patient Management">

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/materialadmin.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/font-awesome.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/material-design-iconic-font.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/libs/DataTables/jquery.dataTables.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/libs/DataTables/extensions/dataTables.colVis.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fw/libs/DataTables/extensions/dataTables.tableTools.css') }}" />
		<!-- END STYLESHEETS -->

	</head>

	<body class="menubar-hoverable header-fixed menubar-pin">